form {
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center ;
}
p {
    margin-top: 25px;
    margin-bottom: 7px;
}
.form-box1 {
    padding: 0px 32px;
}
.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn input {
    height: 45px;
}
.add-box {
    border: black 2px solid;
    padding: 40px 300px;
}