aside {
    display: flex;
    flex-direction: column;
    flex: 20%;
    height: auto;
}
.caldar {
    padding: 25px;
    height: 70px;
    
    background-color:#3D4855;
}
h3 {
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
    padding: 25px;
    height: 75px;
    color: #ffffff;
}
.nav {
    display: flex;
    background-color:#232F3E;
    flex-grow: 1;
}
ol {
    list-style-type: none;
}
li {
    padding-left: 80px;
    text-align: start;
    margin-bottom: 20px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #FC6225;
}